[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
gunicorn = "*"
trmnlp = {git = "https://github.com/usetrmnl/trmnlp.git"}

[dev-packages]

[requires]
python_version = "3.12"