<!DOCTYPE html>
<html>
  <head>
    {% render 'head_assets' %}
  </head>
  <body class="environment trmnl">
    <div class="screen">
      <div class="view view--full">
        <div class="layout layout--col h--full pb--10">

          <!-- Electricity Section -->
          <div class="grid">
            <div class="row">
              {% render 'price_card'
                , data: electricity
                , label_now: "Price electricity now"
                , label_avg: "Avg electricity price"
                , resource_name: "Electricity"
                , bar_color: "bg--black"
              %}
            </div>
          </div>

          <div class="border--h-5 w--full"></div>

          <!-- Gas Section -->
          <div class="grid">
            <div class="row">
              {% render 'price_card'
                , data: gas
                , label_now: "Price gas now"
                , label_avg: "Avg gas price"
                , resource_name: "Gas"
                , bar_color: "bg--gray-5"
              %}
            </div>
          </div>

          <!-- Chart Container -->
          {% render 'energy_chart'
            , id: "energy-chart"
            , electricity: electricity
            , gas: gas
            , variant: "full"
            , chart_height: "null" 
          %}

        </div>
      </div>
    </div>

    <!-- Title Bar -->
    <div class="title_bar">
      <img class="image" src="https://usetrmnl.com/images/plugins/weather/wi-lightning.svg">
      <span class="title">Frank Energie</span>
      <span class="instance">Energy Prices Chart</span>
    </div>
  </body>
</html>