<div class="layout layout--col h--full pb--10">

  <!-- Electricity Section -->
  <div class="grid grid--cols-2 gap--[9px]" data-adjust-grid-gaps="false">
    {% render 'mini_stat'
      , data: electricity
      , label: "Elec Now"
      , type: "current"
    %}
    {% render 'mini_stat'
      , data: electricity
      , label: "Elec Avg"
      , type: "avg"
    %}
  </div>

  <div class="divider"></div>

  <!-- Gas Section -->
  <div class="grid grid--cols-2">
    {% render 'mini_stat'
      , data: gas
      , label: "Gas Now"
      , type: "current"
      , size: "small"
    %}
    {% render 'mini_stat'
      , data: gas
      , label: "Gas Avg"
      , type: "avg"
      , size: "small"
    %}
  </div>

  <div class="divider"></div>

  <!-- Legends -->
  <div class="grid grid grid--cols-2">
    {% render 'legend_item'
      , label: "Electricity"
      , color: "bg--black"
    %}
    {% render 'legend_item'
      , label: "Gas"
      , color: "bg--gray-5"
    %}
  </div>

  <!-- Chart Container -->
  {% render 'chart_assets' %}
  {% render 'energy_chart'
    , id: "energy-chart"
    , electricity: electricity
    , gas: gas
    , variant: "full"
  %}
</div>
<div class="title_bar">
  <img class="image" src="https://usetrmnl.com/images/plugins/weather/wi-lightning.svg">
  <span class="title">Frank Energie</span>
  <span class="instance">Energy Prices Chart</span>
</div>