{% render 'head_assets' %}

<div class="layout layout--col gap--space-between">

  <!-- Top Row: Electricity Now + Elec Avg -->
  <div class="grid grid--cols-2 gap--[9px]" data-adjust-grid-gaps="false">
    {% render 'mini_stat'
      , data: electricity
      , label: "Elec Now"
      , type: "current"
      , size: "medium"
    %}
    {% render 'mini_stat'
      , data: electricity
      , label: "Elec Avg"
      , type: "avg"
      , size: "medium"
    %}
  </div>

  <div class="divider"></div>

  <!-- Middle Row: Gas Now + Gas Average -->
  <div class="grid grid--cols-2">
    {% render 'mini_stat'
      , data: gas
      , label: "Gas Now"
      , type: "current"
      , size: "xsmall"
    %}
    {% render 'mini_stat'
      , data: gas
      , label: "Gas Avg"
      , type: "avg"
      , size: "xsmall"
    %}
  </div>

</div>

{% render 'title_bar', instance: "Energy Prices" %}